<!-- LOGIN Modal -->
<div class="reveal" id="login_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead" id="render_add_rental"> 
    	<%= render 'devise/sessions/new' %>
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- SIGNUP Modal -->
<div class="reveal" id="signup_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead" id="render_add_rental"> 
    	<%= render 'devise/registrations/new' %>
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- ADD Modal -->
<div class="reveal" id="add_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3>Add a Rental</h3>
  	<p class="lead" id="render_add_rental">
	   <%= render 'rentals/form' %>
	</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>
<!-- TOP BAR -->
<div id="top_bar" data-sticky-container>
  <div id="top_bar"class="title-bar" data-sticky data-options="marginBottom:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
    <div id="logo" class="title-bar-left" data-turbolinks="false">
	    <%= link_to (image_tag (root_url + "/images/rmr_logo_small.png"), alt: "RMR_logo"), rentals_path, :style=>'background:#660033' %>
    </div>
    <div id="right_header" class="title-bar-right">
	<% if !user_signed_in? %>
		<a id="login_button" data-open="signup_modal">SIGNUP</a>  
		<a id="add_button" data-open="login_modal">LOGIN</a> &nbsp;
	<% else %>
		<%= link_to "LOGOUT", destroy_user_session_path,:style=>'color: white; background:#660033;', method: :delete, class: 'login_button' %>
    		<a id="add_button" data-open="add_modal">ADD</a>
	<% end %>
    </div>
  </div>
</div>
<br>
<br>

<!-- SEARCH BAR -->
<div id="search_back">
	<div id="search_bar" class="row">
		<div id="search_bar" class="small-12 small-center columns">
    		<%= form_for_filterrific @filterrific, :url => search_show_path do |f| %>
        <div>
        		<div class="query_bar">
        			<%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            		<%= f.text_field(:search_query, class: 'filterrific-periodically-observed') %>
        		</div>
        		<div class="text-center">
            		<%= f.submit 'Search', :class=>"search_button" %>
        		</div>
    </div>
    		<% end %>
		</div>
	</div>
</div>
<!-- used for debugging which user is logged on -->
<% #if user_signed_in? %>
	<% #= current_user.email %>
<% #end %>
<!-- RENTAL LISTINGS -->
<div id="rental_listings_div">
<br>
    <% @rentals.each do |rental| %>
    	<div id="rental_div">
          <%= link_to rental do %>
	        <div id="rental_image" data-turbolinks="false">
    	        <% rental.images.each do |image| %>
  	  	        	<% if image.default == true %>
                    	<%= image_tag(image.pic_file_name, :class=>"thumbnail", size:"250") %>
                    <% end %>
                    <!-- the break is so that only the first image 
                         is default will show. Hack right now is to
                         set all defaults on new rental images to 
                         true til can get js var into controller -->
                    <% break %>
                 <% end %>
             </div>			
			<div id="addr_and_rating_div">
			  <h5><%= rental.full_address + ", " + rental.addr_state %></h5>
			<h6>
        <%= rental.dets_beds %> Bed | <%= rental.dets_baths %> Bath
			</h6>
			<br><br>
			<h6>
                        <!-- Calculate the Avg Number of Overall Stars and Price -->
                        <% @total_price = 0 %>
                        <% @total_stars = 0 %>
                        <% @num_reviews = 0 %>
                        <% rental.reviews.each do |review| %>
                            <% if !review.new_record? && review.price.present? && review.overall.present? %>
                                <% @total_price = review.price + @total_price %>
                                <% @total_stars = review.overall + @total_stars %>
                                <% @num_reviews = @num_reviews + 1 %>
                            <% end %>
                        <% end %>
			                  <% if @num_reviews != 0 %>
                          <% @avg_price = @total_price / @num_reviews %>
                          <% @avg_stars = @total_stars / @num_reviews %>  
		                    <% end %>
                        <% case @avg_price %>
                             <% when 1 %>
                                $
                             <% when 2 %>
                                $$
                             <% when 3 %>
                                $$$
                             <% when 4 %>
                                $$$$
                             <% when 5 %>
                                $$$$$
                       <% end %>
	                  </h6>
		                <h6>
                       <% case @avg_stars %>
                            <% when 1 %>
                                ★
                            <% when 2 %>
                                ★★
                            <% when 3 %>
                                ★★★
                            <% when 4 %>
                                ★★★★
                            <% when 5 %>
                                ★★★★★
                        <% end %>
			             </h6>
			</div>
			<div id="ammed_div">
			  <%if(rental.amen_parking)%>
			    <div id="index_icon"><%= image_tag(root_url + "images/parking_color.png") %></div>
			  <%end%>
        <%if(rental.amen_pets)%>
			    <div id="index_icon"><%= image_tag(root_url + "images/pets_color.png") %></div>
        <%end%> 
        <%if(rental.amen_washer_dryer)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/laundry_color.png") %></div>
        <%end%> 
        <%if(rental.amen_pool)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/pool_color.png") %></div>
        <%end%> 	
        <%if(rental.amen_spa)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/spa_color.png") %></div>
        <%end%> 
        <%if(rental.amen_gym)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/gym_color.png") %></div>
        <%end%> 
        <%if(rental.amen_dishwasher)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/dishwasher_color.png") %></div>
        <%end%> 	
        <%if(rental.amen_central_air && rental.amen_heater)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/heat_color.png") %></div>
        <%end%> 
        <%if(rental.util_gas)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/gas_color.png") %></div>
        <%end%> 	
        <%if(rental.util_electricity)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/electric_color.png") %></div>
        <%end%> 	
        <%if(rental.util_trash)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/trash_color.png") %></div>
        <%end%> 	
        <%if(rental.util_water)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/water_color.png") %></div>
        <%end%> 	
        <%if(rental.util_tv)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/tv_color.png") %></div>
        <%end%> 	
        <%if(rental.util_wifi)%>
		      <div id="index_icon"><%= image_tag(root_url + "images/internet_color.png") %></div>
        <%end%> 	
			</div>	
		</div>
		<br>
  <% end %>
<% end %>
</div>
<!-- MISSION STATEMENT & FOOTER -->
<div id="footer" data-sticky-container>
  <div id="footer"class="title-bar" data-sticky data-options="marginBottom:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
    <div class="title-bar-left">
    	<h4>Our Mission ...</h4>
    	<i>At Rate My Rental we strive to introduce and educate renters and make their home dreams a reality. </i>
	</div>
    <div class="title-bar-right">
		 Contact Us: PHONE | EMAIL 
	</div>
  </div>
</div>
