<%= form_for [@rental, @review], html: {multipart: true } do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :overall %><br>
    <%= f.number_field :overall %>
  </div>
  <div class="field">
    <%= f.label :safety %><br>
    <%= f.number_field :safety %>
  </div>
  <div class="field">
    <%= f.label :clean %><br>
    <%= f.number_field :clean %>
  </div>
  <div class="field">
    <%= f.label :noise %><br>
    <%= f.number_field :noise %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>

  <div id="files">
    <h3> Attach rental images</h3> 
      <!-- this is using html 5 magic to gather multiple images to pass to paperclip -->
      <%= file_field_tag "pics[]", type: :file, multiple: true %>
  </div>

  <div class="look_at_me" >
    <output id="list"> </output>
  </div>
  <br> <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
